################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClrLibrary/.localhistory
/ClrLibrary/.vs
/ClrLibrary/ClrLibrary/bin/Debug
/ClrLibrary/ClrLibrary/obj/Debug
*.suo
